body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

.author-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F9FB;
}

.author {
    display: flex;
    align-self: stretch;
    background-color: #F8F9FB;
    border: 0 solid #999999;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    align-self: center;
    padding: 15px 0 15px;
}

.watch-video-btn {
    display: flex;
    justify-content: center;
}

.author-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Montserrat, sans-serif;
    max-width: 1440px;
}

.author-info div {
    padding: 10px;
}

.author-info div h1 {
    margin: 0;
}

.author-info div h2 {
    margin: 0;
}

.champ {
    font-size: 18px;
}

.pink {
    color: #E91776;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

h2 {
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.author-name {
    font-family: 'Bebas Neue';
    font-weight: 900;
    color: #000;
    font-size: 64px;
    text-transform: uppercase;
    line-height: 1.42857143;
    text-align: center;
    margin: 0;
}

.watch-video-btn button {
    width: 300px;
    height: 48px;
    background: linear-gradient(90deg, #FF5BA9 0%, #E91776 99.93%);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

.author-video iframe {
    display: flex;
    max-width: 534px;
    max-height: 300px;
    height: 100vh;
    width: 100vw;
}

.course-text {
    font-size: 18px;
}

.css-vokdf9 {
    color: #000000;
}

.css-ed82ln {
    padding-top: 70px;
}

.css-b0t1k7 {
    min-height: 100px;
}

@media screen and (max-width: 460px) {

    .course-text {
        font-size: 16px;
    }

    .pink {
        font-size: 22px;
    }

    .champ {
        font-size: 16px;
    }



    .author-video iframe {
        display: flex;
        width: 300px;
        height: 169px;
        margin-left: 10px;
    }

    .author {
        align-self: inherit;
        margin: 0;
    }
}

@media screen and (max-width: 740px) {
    .author-name {
        font-size: 35px;
    }
}

@media screen and (max-width: 1020px) {
    .author {
        flex-direction: column;
    }

}
